@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "Display";
    src: url(Calculator.ttf);
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#calculatorFrame {
    height: 620px;
    width: 400px;
    background-color: #76c2e6;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 8px 2px rgb(30, 145, 211);
}

#display {
    background-color: lightgray;
    width: auto;
    height: 70px;
    margin: 30px;
    border: 5px solid rgb(30, 145, 211);
    border-radius: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
   
    
}

#displayText {
    font-family: "Display";
    font-size: 66px;
    margin-right: 20px;
}

#keyboard {
    display: grid;
    height: auto;
    margin: 10px 30px 30px 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    
}

.key {
    height: 70px;
    background-color: rgb(114, 230, 191);
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 2px rgb(73, 155, 128);
    font-family: Poppins;
    font-size: 36px;
    color: white;
    font-weight: 600;
}

#key0 {
    grid-column-start: 1;
    grid-column-end:   3;
}

#keyEqual {
    background-color: rgb(255, 83, 83);
    box-shadow: 0 5px 2px rgb(187, 62, 62);
    height: 160px;
    grid-column-start: 4;
    grid-column-end:   4;
    grid-row-start: 4;
    grid-row-end: 6;
}

#keyC, #keyCE {
    background-color: rgb(122, 238, 118);
    box-shadow: 0 5px 2px rgb(81, 163, 78);
}