@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@font-face {
    font-family: "Display";
    src: url(Calculator.ttf);
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://img.freepik.com/free-vector/wooden-dining-table-top-view-realistic-vector_107791-13011.jpg?w=1380&t=st=1675769343~exp=1675769943~hmac=8056328065e8d0b2eee6a8c13a20750f719e05fa343b556a931014e35bb7b996);
    background-size: 100% 155%;
}

#calculatorFrame {
    height: 620px;
    width: 400px;
    background-color: #76c2e6;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 8px 2px rgb(30, 145, 211);
}

#display {
    background-color: lightgray;
    width: auto;
    height: 70px;
    margin: 30px;
    border: 5px solid rgb(30, 145, 211);
    border-radius: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
   
    
}

#displayText {
    font-family: "Display";
    font-size: 66px;
    margin-right: 20px;
}

#keyboard {
    display: grid;
    height: auto;
    margin: 10px 30px 30px 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    
}

.key {
    height: 70px;
    background-color: rgb(114, 230, 191);
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 2px rgb(73, 155, 128);
    font-family: Poppins;
    font-size: 36px;
    color: white;
    font-weight: 600;
}

.key:active {
    position: relative;
    top: 5px;
    background-color: rgb(73, 155, 128);
    box-shadow: 0 -3px 2px rgb(40, 83, 69);
}

#key0 {
    grid-column-start: 1;
    grid-column-end:   3;
}

#keyEqual {
    background-color: rgb(255, 83, 83);
    box-shadow: 0 5px 2px rgb(187, 62, 62);
    height: 160px;
    grid-column-start: 4;
    grid-column-end:   4;
    grid-row-start: 4;
    grid-row-end: 6;
}

#keyEqual:active {
    position: relative;
    top: 5px;
    background-color: rgb(187, 62, 62);
    box-shadow: 0 -3px 2px rgb(110, 36, 36);
}

#keyC, #keyCE {
    background-color: rgb(122, 238, 118);
    box-shadow: 0 5px 2px rgb(81, 163, 78);
}

#keyC:active, #keyCE:active {
    position: relative;
    top: 5px;
    background-color: rgb(81, 163, 78);
    box-shadow: 0 -3px 2px rgb(47, 97, 46);
}